<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.alex.book_pager">

    <application>
        <activity
            android:name="ru.alex.book_pager.ExampleActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>
</manifest>
